.tc {
    color: #ffffff;
    pointer-events: none;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    width: calc(90px + 25 * (100vw - 320px) / 1080);
    height: calc(90px + 25 * (100vw - 320px) / 1080);
}

.tc svg {
    fill: #ffffff;
    animation: rotate 7s infinite linear;
    position: absolute;
    width: 150%;
    height: 150%;
    left: -25%;
    top: -25%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.tc i {
    font-size: calc(20px + 10 * (100vw - 320px) / 1080);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tc i.is {
    font-size: calc(25px + 10 * (100vw - 320px) / 1080);
}

.tc i.awr {
    animation: arrow 1s infinite linear;
}

.tc i.awd {
    animation: arrowd 1s infinite linear;
}

.dark-gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, 
        #2c003e,
        #012a31,  
        #4b0082,  
        #000d2b,  
        #0d3b66,
        #3a0058,
        #1a0d29,
        #7209b7
    );
    z-index: -1; /* Makes sure it stays behind content */
    background-size: 300% 300%; /* Increased size for smoother animation */
    animation: gradientAnimation 15s ease infinite;
}

/* Keyframes for wavy gradient animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 0%; /* Moves diagonally upward */
    }
    50% {
        background-position: 100% 50%; /* Moves to the right */
    }
    75% {
        background-position: 50% 100%; /* Moves diagonally downward */
    }
    100% {
        background-position: 0% 50%; /* Returns to the start */
    }
}

/* Styled button */
.styled-button {
    background: none; /* Transparent background */
    border: none; /* No border */
    color: #ffffff; /* White text */
    font-size: 16px; /* Adjust text size */
    font-family: albulaMedium; /* Use a clean font */
    letter-spacing: 0.2em; /* Space out letters */
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase; /* Uppercase text */
    outline: none;
}

.styled-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px; /* Thin colored line */
    background-color: #4200e7; /* Purple line color */
    transition: width 0.5s ease; /* Smooth transition */
}

.styled-button:hover::before {
    width: 100%; /* Expand the line on hover */
}